/* Eric Zorn: July 31, 2017 / AJAX and Voting for the President, Module 8: Homework 1 SCSS */

//Variables
$background-color: #FAF0E6;
$text-color: #4169E1;
$font-family: sans-serif;
$red-border: red;
$white: white;


body {
 background-color: $background-color;
 color: $text-color;
 font-family: $font-family;
 font-weight: 700;
}

table {
    background-color: lightgoldenrodyellow;
    margin-left: 30px;
    width: 1800px;
}

td {
  border: 1px solid red;
}


