/* Eric Zorn: July 31, 2017 / AJAX and Voting for the President, Module 6: Homework 1 SCSS */

//Variables
$background-color: lightgreen;
$text-color: white;
$font-family: sans-serif;


body {
 background-color: $background-color;
 color: $text-color;
 font-family: $font-family;
}