/* Eric Zorn: July 31, 2017 / AJAX and Voting for the President, Module 6: Homework 1 SCSS */

//Variables
$background-color: #FAF0E6;
$text-color: #4169E1;
$font-family: sans-serif;


body {
 background-color: $background-color;
 color: $text-color;
 font-family: $font-family;
}

.form-labels {
 color: $text-color;
}

.tableHead {
    border: 1px solid black;
    color: $text-color;
}
